body{
    margin: 0; 
}

header {
    overflow: hidden;
    background-color: #4C4D4F;
}

.header a {
    float: left;
    font-size: 35px;
    text-decoration: none;
    color: #C9DCB3;
    text-align: center;
    padding: 10px; 
}
.header a:hover {
    background-color: #ddd;
    color: #7B7263;
  }
  .header-right {
    float: right;
  }